@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body {
    margin: 0;
    padding: 0;
  }
  .printable-area {
    width: 100%;
  }
  .no-print {
    display: none;
  }
  @page {
    size: A4;
    margin: 20mm;
  }
}